/*CSS Reset should be applied first */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*it allows us to include the padding and border in an element's total width and height*/
}


/*for 5 anchors*/

body, html {
  height: 100%;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
	padding-left: 20px;
	padding-right: 200px;
	text-decoration: none;
  box-sizing: border-box;
}

.navbar-brand{
	text-decoration: none;

}

#price {
  margin: 0em;
}

#vaccine  {
  margin: 0em;
  font-size: 20px;
  font-weight: bold;
}

/* .container-top {
  margin-left: 5%;
  margin-right: 5%;
}

.container-middle {
  margin-left: 5%;
  margin-right: 5%;
} */


#aria {
  font-weight: bold;
}

#break  {
  margin: 1em;
}

#ariaTitle {
    font-weight: 800;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-style: normal;
    color: #3c3c3b;
    font-size: 40px;
    line-height: 1.2;
}

#ariaTitle2 {
  font-weight: 700;
  font-family: Roboto,sans-serif;
  font-style: normal;
  color: #3c3c3b;
  font-size: 23px;

}

#h3Delivery {
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
  font-size: 35px;
}

.navbar{
	padding-left: 200px;
	padding-right: 200px;
	text-decoration: none;
  box-sizing: border-box;
}

.navbar-brand{
	text-decoration: none;

}





/* Credit to https://epicbootstrap.com/snippets/footer-basic */

/*new footer bottom*/


iframe  {
  margin-top:50px;
  margin-left:30px;

}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.centered {
    font-size: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.centered {
    font-size: 20px;
  }

/*@media only screen and (max-width: 600px) {
.hero__inner {
    padding: 102px;
}

.hero-image {
    height: unset;
    background-size: contain;
}*/
}


  /*
body {
  background-image: url(*../images/smarter.jpeg);
  background-size: cover;
}*/

/*.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero {
  height: 100%;
  width: 100%;
  background: url(*../images/smarter.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/
/*
.bg {
  background-color: black;
}

.bg img {

 background-position: center;
 background-size: cover;


}*/



/*.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}*/

/*.container {
  margin-top: 50px;
  margin-left: 0px;
  position: relative;
  text-align: center;
  color: white;

}*/

/*  .coursel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;

  }

  .container {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 50px;
  }
*/

/*#pre-footer div {
        background-color: #002540;
        color: white;
        float: left;
        height: 150px;
        width: 23%;
        padding: 0 10px;
}*/
